*{
  box-sizing: border-box;
}
html,
body 
#root{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

}
body{
  background-color: bisque;
 
}
.mes{
  padding: 100px;
  margin-top: 40px;
}
.kh{
  color: purple;
  font-size: 48px;
}